{% extends "base.html" %}

{% block content %}
<h1>{{ entry.title }}</h1>
<form method="post">
    {% csrf_token %}
    <div>
        {{ form.identifier.as_field_group }}
        {{ form.fullArchivePath.as_field_group }}
        {{ form.folder.as_field_group }}
        {{ form.title.as_field_group }}
        {{ form.creators.as_field_group }}
        {{ form.date.as_field_group }}
        {{ form.collections.as_field_group }}
        {{ form.mediatype.as_field_group }}
        {{ form.contributors.as_field_group }}
        {{ form.languages.as_field_group }}
        {{ form.description.as_field_group }}
        {{ form.subjects.as_field_group }}
        {{ form.archive.as_field_group }}
        {{ form.photos.as_field_group }}
        {{ form.randoFiles.as_field_group }}
        {{ form.uploaded.as_field_group }}
        {{ form.hasFluxFile.as_field_group }}
        {{ form.hasFileContents.as_field_group }}
        {{ form.needsWork.as_field_group }}
        {{ form.readyToUpload.as_field_group }}
        {{ form.created_on.as_field_group }}
    </div>
    <button type="submit">Save</button>
</form>
{% endblock %}

